VITE_FIREBASE_API_KEY=AIzaSyCkbXjIwd0BLRpR3Q5YkUR3p8DXfJQa5B0
VITE_FIREBASE_AUTH_DOMAIN=neep-pb-tracker.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=neep-pb-tracker
VITE_FIREBASE_STORAGE_BUCKET=neep-pb-tracker.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=483596216306
VITE_FIREBASE_APP_ID=1:483596216306:web:40f0f884fbc2436257ed6b
VITE_FIREBASE_MEASUREMENT_ID=G-VWBYTCV1JE
